<app-header></app-header>

<div class="container-fluid mt-5">
  <div class="row m-3">
    <div class="col-md-6 mt-2">
      <p class="fs-1">Contact Us</p>
      <p class="text-secondary fs-5">He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire
        difficulty gay assistance joy.
        Unaffected at ye of compliment alteration to. Place voice no arises along to.</p>
      <div class="box-container">
        <div class="row">
          <div class="col-md-4 mt-2">
            <div class="border border-dark p-3 text-center">
              <img src="./assets/brand/map.svg" alt="map" width="60">
              <p class="fs-4 mb-0 mt-2">Visit Address</p>
              <p class="fs-5 text-secondary mb-0">119 Tanglewood</p>
              <p class="fs-5 text-secondary mb-0">Lane Gulfport</p>
              <p class="fs-5 text-secondary">MS 39503</p>
              <a href="" class="fs-5 text-dark">Track Location</a>
            </div>
          </div>
          <div class="col-md-4 mt-2">
            <div class="border border-dark p-3 text-center">
              <img src="./assets/brand/message.svg" alt="map" width="60">
              <p class="fs-4 mb-0 mt-2">Send Us an Email</p>
              <p class="fs-5 text-secondary mb-0">He moonlights</p>
              <p class="fs-5 text-secondary mb-0">difficult engrossed it,</p>
              <p class="fs-5 text-secondary">sportsmen. </p>
              <a href="" class="fs-5 text-dark">info34@gmail.com</a>
            </div>
          </div>

          <div class="col-md-4 mt-2">
            <div class="border border-dark p-3 text-center">
              <img src="./assets/brand/call.svg" alt="map" width="60">
              <p class="fs-4 mb-0 mt-2">Contact Number</p>
              <p class="fs-5 text-secondary mb-0">Interested has all</p>
              <p class="fs-5 text-secondary mb-0">Devonshire difficulty</p>
              <p class="fs-5 text-secondary">gay assistance joy.</p>
              <a href="" class="fs-5 text-dark">+91 9876456734</a>
            </div>

          </div>
        </div>
      </div>

      <div class="social-media mt-4">
        <p class="fs-2 mb-0">Social Media</p>
        <p class="fs-5 mt-1 text-secondary">Sympathize Large above be to means.</p>
        <div class="buttons d-flex">
          <button class=" border border-dark rounded-0 btn btn-outline-dark p-3"><i class="fa fa-xl fa-facebook"
              aria-hidden="true"></i>
          </button>
          <button class="mx-3 border border-dark rounded-0 btn btn-outline-dark p-3"><i class="fa fa-xl fa-instagram"
            aria-hidden="true"></i>
        </button>
        <button class="border border-dark rounded-0 btn btn-outline-dark p-3"><i class="fa fa-xl fa-twitter"
          aria-hidden="true"></i>
      </button>
      <button class="mx-3 border border-dark rounded-0 btn btn-outline-dark p-3"><i class="fa fa-xl fa-whatsapp"
        aria-hidden="true"></i>
    </button>
        </div>
      </div>
    </div>
    <div class="col-md-6  mt-2">
      <div class="form p-4 bg-light">

        <p class="fs-3">Please use the form below to get in touch with our customer service team.</p>

        <form class="row g-3" method="post" action="#">
          <div class="col-md-12">
            <label for="inputText" class="fs-5 form-label">Name</label>
            <input type="text" class="form-control form-input border border-dark rounded-0 py-2 bg-light" id="inputText"
              placeholder="Enter Your Name" required>
          </div>

          <div class="col-md-12">
            <label for="inputEmail4" class="fs-5 form-label">Email</label>
            <input type="email" class="form-control form-input border border-dark rounded-0 py-2 bg-light"
              id="inputEmail4" placeholder="Enter Your Email" required>
          </div>

          <div class="col-md-12">
            <label for="inputNumber" class="fs-5 form-label">Phone No</label>
            <input type="number" class="form-control form-input border border-dark rounded-0 py-2 bg-light"
              id="inputNumber" placeholder="Enter Your Phone Number" required>
          </div>

          <div class="col-md-12">
            <label for="inputText" class="fs-5 form-label">Message</label>
            <textarea class="form-control border border-dark rounded-0 bg-light" placeholder="Message"
              id="exampleFormControlTextarea1" rows="4"></textarea>
          </div>

          <div class="buttons">
            <button type="submit" style="width: 150px;"
              class="btn btn-outline-dark border border-dark rounded-0 p-2 fs-5 ">Submit </button>
          </div>
        </form>
      </div>




    </div>
  </div>


<div class="row mt-5">
  <div class="col-md-12">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248756.1167542448!2d80.06892435232284!3d13.047487785569123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5265ea4f7d3361%3A0x6e61a70b6863d433!2sChennai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1676110282267!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<app-footer></app-footer>
