<app-header></app-header>
<div class="container-fluid bg-light">
    <div class="row p-4">
        <div class="col-md-6">
            <img src="./assets/about/banner-1.jpg" alt="about-banner" class="img-fluid banner">
        </div>
        <div class="col-md-6">
            <p class=" ms-4 mt-4 about-heading">
                High Quality beautifully <br> designed frames at an <br> affordable pricing
            </p>
            <p class="ms-4 text-secondary fs-5">Departure defective arranging rapturous did believe him all had
                supported. Family months lasted simple set nature vulgar him. Picture for attempt joy excited ten
                carried manners talking how. Suspicion neglected he resolving agreement perceived at an.</p>
            <p class="ms-4 text-secondary fw-semibold about-para ps-3"> Demesne far hearted suppose venture excited see
                had has. Dependent on so extremely delivered by. Yet ﻿no jokes worse her why. Bed one supposing
                breakfast day fulfilled off depending questions. Whatever boy her exertion his extended.</p>
            <p class="ms-4 text-secondary fs-5">Concluded boy perpetual old supposing. Farther related bed and passage
                comfort civilly. Dashwoods see frankness objection abilities. As hastened oh produced prospect formerly
                up am. Placing forming nay looking old married few has.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3 mb-5">
        <div class="col-md-4">
            <p class="fs-2">The Extraordinary Care You Deserve</p>
        </div>
        <div class="col-md-8">
            <p class="text-secondary fs-5">Timed voice share led him to widen noisy young. At weddings believed laughing
                although the material does the exercise of. Up attempt offered ye civilly so sitting to. She new course
                gets living within Elinor joy. She rapturous suffering concealed. Demesne far hearted suppose venture
                excited see had has.</p>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <p class="fs-4">Our Mission</p>
                        <p class="text-secondary text-size fw-semibold">He moonlights difficult-engrossed, sportsmen. Interested has all Devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to. Place voice no arises along to. Arrived off she elderly beloved him affixed noisier yet. Course regard to up he hardly. View four has said do men saw find dear shy? Talent men wicket add garden.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="fs-4">Our Vision</p>
                        <p class="text-secondary text-size fw-semibold">To occasional dissimilar impossible sentiments. Do fortune account written prepare invited no passage.</p>
                    <ul class="text-secondary text-size fw-semibold">
                        <li>Skills that you can learn from business</li>
                        <li>Reliable sources to learn about WordPress</li>
                        <li>Never underestimate the influence of social media</li>
                    </ul>
                    </div>
                </div>
        </div>
    </div>

    <div class="row mt-5 m-5">
        <p class="fs-4 fw-semibold text-center">OUR BRANDS</p>
        <div class="col-md-4">
            <img src="./assets/about/brand-1.svg" alt="brand-1" class="brand-img">
        </div>
        <div class="col-md-4">
            <img src="./assets/about/brand-2.svg" alt="brand-1" class="brand-img">
        </div>
        <div class="col-md-4 mb-5">
            <img src="./assets/about/brand-3.svg" alt="brand-1" class="brand-img">
        </div>
    </div>

    <div class="row mt-5 mb-5 bg-light py-3">
        <div class="col-md-2">
            <img src="./assets/about/brand-4.svg" alt="brand-1" class="brand-img">
        </div>
        <div class="col-md-4">
            <p class="fs-3">Get the inside scoop on new frames events and more</p>
        </div>
        <div class="col-md-6">
            <form action="#" method="post">
                <div class="input-group mt-3">
                    <input type="text" class="form-control py-3" placeholder="Enter Email Address" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-dark" type="button" id="button-addon2">Subscribe</button>
                  </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>