<app-header></app-header>

<div class="card-group position-relative ">
  <div class="card border border-0">
    <img src="./assets/banner img/banner-1.jpg" alt="men" class="banner-img img-fluid">
  </div>
  <div class="card border border-0">
    <img src="./assets/banner img/banner-2.jpg" alt="women" class="card-img-top banner-img img-fluid">
  </div>

</div>

<div class="container">
  <div class="row box opacity-75 position-absolute top-50 start-50 translate-middle bg-dark">
    <div class="col-md-12 text-center my-5">
      <h1 class="text-white">The Extraordinary <br> Care You Deserve</h1>
      <p class="text-white fw-semibold">The fresh new style you’ll were on repeat</p>

      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="" class="border button color fw-semibold py-2 text-decoration-none">Shop The Collection</a>
      </div>
    </div>
  </div>
</div>
<!--------------------------------------------------------------------------card---------------------------------------------------------->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="bg-light">
        <div class="text-center">
          <img src="./assets/home-img/truck.svg" alt="truck" class="img-fluid mt-5" width="90" height="90">
          <p class="fs-4 mt-2">Free Delivery</p>
          <p class="text-secondary fw-semibold pb-5">We offer free delivery for all orders over $80 and <br>
            with the order that contain 10 or more items.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-light">
        <div class="text-center">
          <img src="./assets/home-img/box.svg" alt="truck" class="img-fluid mt-5" width="70" height="70">
          <p class="fs-4 mt-2">30- Days Returns</p>
          <p class="text-secondary fw-semibold pb-5">At North, we offer complimentary 30-day returns, <br> so
            that you can make sure your purchase is just right</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-light">
        <div class="text-center">
          <img src="./assets/home-img/warrenty.svg" alt="truck" class="img-fluid mt-5" width="70" height="70">
          <p class="fs-4 mt-2">International Warranty</p>
          <p class="text-secondary fw-semibold pb-5">Our quest for excellence has allowed us to extend <br>
            the international warranty to 5 years.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-6">
      <p class="fs-2 ">Our Favorite Styles</p>
    </div>
    <div class="col-md-6">
      <p class="fs-5 text-end mt-3">View All <i class="fa fa-arrow-right transform" [routerLink]="['../product']" routerLinkActive="router-link-active" ></i></p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">

      <div class="image-box">
        <div class="actual-img">
          <img src="./assets/products/pd-1.jpg" alt="prd-1" class="img-fluid">
        </div>
        <div class="hover-img">
          <img src="./assets/products/hov-1.jpg" alt="prd-2" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="col-md-4">

      <div class="image-box">
        <div class="actual-img">
          <img src="./assets/products/pd-2.jpg" alt="prd-1" class="img-fluid">
        </div>
        <div class="hover-img">
          <img src="./assets/products/hov-2.jpg" alt="prd-2" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="col-md-4">

      <div class="image-box">
        <div class="actual-img">
          <img src="./assets/products/pd-3.jpg" alt="prd-1" class="img-fluid">
        </div>
        <div class="hover-img">
          <img src="./assets/products/hov-3.jpg" alt="prd-2" class="img-fluid">
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-4">

      <div class="image-box">
        <div class="actual-img">
          <img src="./assets/products/pd-4.jpg" alt="prd-1" class="img-fluid">
        </div>
        <div class="hover-img">
          <img src="./assets/products/hov-4.jpg" alt="prd-2" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="col-md-4">

      <div class="image-box">
        <div class="actual-img">
          <img src="./assets/products/pd-5.jpg" alt="prd-1" class="img-fluid">
        </div>
        <div class="hover-img">
          <img src="./assets/products/hov-5.jpg" alt="prd-2" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="col-md-4">

      <div class="image-box">
        <div class="actual-img">
          <img src="./assets/products/pd-6.jpg" alt="prd-1" class="img-fluid">
        </div>
        <div class="hover-img">
          <img src="./assets/products/hov-6.jpg" alt="prd-2" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-6">
      <img src="./assets/products/slide-1.jpg" alt="slide" class="img-fluid image-size">
    </div>
    <div class="col-md-6 mt-5">
      <p class="fs-2 ms-5">The real voyage of discovery consists, <br> not in seeking new landscapes, but of <br>
        having new eyes.</p>
      <p class=" ms-5 text-secondary fs-5">All led out world this music while asked. Paid mind even sons does <br>
        he
        door no. Attended overcame repeated it is perceived Marianne <br> in. I think on style child of. Servants
        moreover in sensible it ye <br> possible. Fulfilled direction use continual set him propriety <br>
        continued.
      </p>
      <div class="d-grid gap-2 col-2 mx-auto">
        <a href="" class="border border-dark color fw-semibold p-3 text-decoration-none">Read More</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row m-5 mt-4">
        <div class="col-md-3">
          <img src="./assets/brand/brand-1.svg" alt="brand-1" class="brand-img">
        </div>
        <div class="col-md-3">
          <img src="./assets/brand/brand-2.svg" alt="brand-1" class="brand-img">
        </div>
        <div class="col-md-3">
          <img src="./assets/brand/brand-3.svg" alt="brand-1" class="brand-img">
        </div>
        <div class="col-md-3">
          <img src="./assets/brand/brand-4.svg" alt="brand-1" class="brand-img">
        </div>
        <div class="col-md-3">
          <img src="./assets/brand/brand-5.svg" alt="brand-1" class="brand-img">
        </div>
        <div class="col-md-3">
          <img src="./assets/brand/brand-6.svg" alt="brand-1" class="brand-img">
        </div>
      </div>
      <div class="testimonials text-center mt-5">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="card border-light bg-light text-center">
              <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
              <div class="card-body blockquote">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum enim
                  eu
                  nibh finibus</p>
                <footer class="blockquote-footer"><cite title="Source Title">Mohamed irsath</cite></footer>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="card border-light bg-light text-center">
              <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
              <div class="card-body blockquote">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum enim
                  eu
                  nibh finibus</p>
                <footer class="blockquote-footer"><cite title="Source Title">Ijaz Khan</cite></footer>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="card border-light bg-light text-center">
              <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
              <div class="card-body blockquote">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum enim
                  eu
                  nibh finibus</p>
                <footer class="blockquote-footer"><cite title="Source Title">Wasim Akram</cite></footer>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-md-6">
      <img src="./assets/products/slide-2.jpg" alt="slide" class="img-fluid image-size">
    </div>
  </div>
</div>
<app-footer></app-footer>
