<app-header></app-header> <br> <br>

<div class="pb-5">
  <div class="container" >
    <div class="row">
      <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="text-center">
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase">S.NO</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase">Product Image</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase">Detail</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">Price</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">Quantity</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">total</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">Remove</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngFor="let item of products; let i = index">
                <td class="border-0 align-middle ">{{i+1}}</td>
                <th scope="row" class="border-0">
                  <div class="p-2 text-center">

                    <img src="{{item.image1}}"  width="100" class="img-fluid rounded shadow-sm">
                    <div class="ml-3 d-inline-block align-middle">

                    </div>
                  </div>
                </th>
                <td class="border-0 align-middle"><strong>{{item.name}} </strong></td>
                <td class="border-0 align-middle"><strong>₹{{item.price}}</strong></td>

                <td class="border-0 align-middle">
                  <div class="counter">
                      <button class="btn btn-danger rounded-circle" (click)="decrease(item)"><i class="fas fa-minus"></i></button>
                      <span>  <b> {{item.quantity}} </b>   </span>
                      <button class="btn btn-success rounded-circle" (click)="increase(item)"><i class="fas fa-plus"></i></button>
                  </div>
              </td>
                <td class="border-0 align-middle"><strong>₹{{item.price}}</strong></td>
                <td class="border-0 align-middle"><a  class="text-dark" (click)="removeItem(item)"><i class="fa fa-trash"></i></a></td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td><button (click)="emptyCart()" class="btn btn-danger">Empty Cart</button></td>
                <td><button routerLink="/product" class="btn btn-primary">Shop More</button></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <div class="row py-5 p-4 bg-white rounded shadow-sm">
      <div class="col-lg-12">
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
        <div class="p-4">
          <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
          <ul class="list-unstyled mb-4">
            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>₹{{totalItem}}</strong></li>
            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>0.00</strong></li>
            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>0.00</strong></li>
            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
              <h5 class="font-weight-bold">₹{{totalItem}}</h5>

            </li>
          </ul><a href="#" class="btn btn-dark rounded-pill py-2 btn-block" [routerLink]="['/address']">Procceed to checkout</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!--
<div class="container" *ngIf="products.length ==0">
  <div class="card">
    <h5 class="card-title">My Cart</h5>
  </div>
  <div class="center">
    <img src="/assets/empty-cart.webp" alt="empty cart">
    <h4 class="text-danger">Oops! Your Cart is Empty!</h4>
    <h6 >Looks Like You Haven't Added <br> Anything to Your Cart Yet</h6>
    <br>
    <button class="btn btn-primary" [routerLink]="['/product']">Shop Now</button>
  </div>
</div> -->

<br><br>
<app-footer></app-footer>
